{% load rest_framework %}
<html>
<!DOCTYPE html>
<head>
	<title>AutoComplete</title>
	<script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
	</script>

	<script src=
"https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
	</script>

	<link href=
"http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"
		rel="stylesheet" type="text/css" />
</head>
<body>
<ul>

	<h1>Welcome to SEARCH</h1>
    {% for n in name %}
    <li>{{ n.name }}</li>
    {% endfor %}
    <h1>Names</h1>
	<input type="text" id="tags">
	<script>
$( function() {
	var availableTags = [
		{% for n in name %}
			"{{n.name}}",
		{% endfor %}
	];
	$( "#tags" ).autocomplete({
	source: availableTags
	});
} );
</script>

</ul>
</body></html>